.protecao-digital-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Alinha o conteúdo para baixo */
    text-align: center;
    min-height: 100vh;
    position: relative;
    background-image: url("../../assets/background5.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 100px; /* Espaçamento para ajustar o conteúdo abaixo do escudo */
  }
  
  .protecao-digital-content {
    max-width: 800px;
    color: #fff;
    padding: 2rem;
  }
  
  .protecao-digital-content h1 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;
  }
  
  .protecao-digital-content p {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
  }
  
  /* Ajustes para telas menores */
  @media (max-width: 768px) {
    .protecao-digital-container {
      padding-bottom: 100px; /* Reduz o espaçamento no mobile */
      background-size: cover; /* Ajusta o tamanho para caber na tela */
        background-position: top; /* Alinha a imagem para o topo */
    }
  
    .protecao-digital-content h1 {
      font-size: 2.5rem;
    }
  
    .protecao-digital-content p {
      font-size: 1rem;
    }
  }
  
  /* Ajustes para telas muito pequenas */
  @media (max-width: 480px) {
    .protecao-digital-container {
      padding-bottom: 100px; /* Ajusta ainda mais para telas pequenas */
    }
  
    .protecao-digital-content h1 {
      font-size: 2rem;
    }
  
    .protecao-digital-content p {
      font-size: 0.9rem;
    }
  }