.o-que-fazer-container {
    padding: 4rem 2rem;
    background: linear-gradient(-250deg, #ffd7d7, #ffb4b4, #ffdbdb);
    text-align: center;
  }
  
  .o-que-fazer-titulo {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .o-que-fazer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
  
  .passo-card {
    background: #fca8a8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .passo-card:hover {
    transform: translateY(-10px);
  }
  
  .passo-imagem {
    width: 150px;
    margin-bottom: 1rem;
    border-radius: 40px;
   
  }
  
  .passo-titulo {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    color: #555;
  }
  
  .passo-descricao {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #777;
    line-height: 1.5;
  }
  
  .cta-container {
    margin-top: 2rem;
  }
  
  .cta-button {
    background-color: #1976d2;
    color: white;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #1565c0;
  }