/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(-250deg, #060048, #2c0050, #4d0070);
    color: white;
    height: auto;
    min-height: 80px;
    box-shadow: 0px 4px 10px rgba(31, 4, 99, 0.5);
    transition: transform 0.3s ease, opacity 0.3s ease, background 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

.header.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

/* Estilos dinâmicos para cada seção */
.header.quem-somos {

    background: linear-gradient(-250deg, #060048, #2c0050, #4d0070);
    .logo-text {
    font-family: 'Lexend', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation: fadeIn 2s ease-in-out;
    white-space: nowrap;
}
}

.header.principais-golpes {
    background: linear-gradient(-250deg, #ffe4b5, #ffcc66);
    .binary {
        position: absolute;
        font-size: 0.5rem;
        font-weight: bold;
        color: #7b6e05;
        animation: fall 5s linear infinite;
        z-index: 0;
        opacity: 0.8;
    }
}

.header.protecao {
    background: linear-gradient(-250deg, #92fe88, rgb(4, 193, 4));
    .binary {
        position: absolute;
        font-size: 0.5rem;
        font-weight: bold;
        color: #003d1f;
        animation: fall 5s linear infinite;
        z-index: 0;
        opacity: 0.8;
    }
}

.header.o-que-fazer {
    background: linear-gradient(-250deg, #f9c8d0, #ff7e8b);
    
    .binary {
        position: absolute;
        font-size: 0.5rem;
        font-weight: bold;
        color: #820000;
        animation: fall 5s linear infinite;
        z-index: 0;
        opacity: 0.8;
    }
}

.header.noticias {
    background: linear-gradient(-250deg, #f2faff, #d9eefa);
    .nav-list li a {
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-size: 1.1rem;
        font-weight: 700;
        font-family: 'Jura', sans-serif;
        position: relative;
        transition: all 0.3s ease;
    }
    .logo-text {
        font-family: 'Lexend', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(58, 57, 57);
        animation: fadeIn 2s ease-in-out;
        white-space: nowrap;
    }
    .binary {
        position: absolute;
        font-size: 0.5rem;
        font-weight: bold;
        color: #002d14;
        animation: fall 5s linear infinite;
        z-index: 0;
        opacity: 0.8;
    }
}

/* Pontinhos no header */
.binary {
    position: absolute;
    font-size: 0.5rem;
    font-weight: bold;
    color: #a4fda4;
    animation: fall 5s linear infinite;
    z-index: 0;
    opacity: 0.8;
}

/* Animação de queda */
@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 1;
    }
    100% {
        transform: translateY(5vh);
        opacity: 0;
    }
}

/* Logo Animada e Texto */
.animated-logo-container {
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo-content {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 1rem;
    animation: float 3s ease-in-out infinite;
}

.logo-text {
    font-family: 'Lexend', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    animation: fadeIn 2s ease-in-out;
    white-space: nowrap;
}

/* Botão de Menu (Mobile) */
.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1002;
    position: relative;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        position: relative;
        z-index: 1003;
    }
    .nav-list.single-link {
        justify-content: center; /* Certifica-se de centralizar no mobile */
    }

    .nav-list.single-link li a {
        font-size: 1.1rem; /* Ajusta o tamanho da fonte para mobile */
    }
    .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(90deg, #2a3b8f, #4127a7);
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        box-shadow: 0px 4px 10px rgba(31, 4, 99, 0.5);
        z-index: 1002;
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .navigation.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-list {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}

/* Navegação */
.navigation {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-list li a:hover {
    color: #ffcc00;
    transform: scale(1.40);
}

/* Animações */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.header-sobre {
    background: linear-gradient(-250deg, #3d4e40, #022b08, #1f4e11);
    color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 80, 158, 0.5);
    transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  }
  
  .header-sobre .logo-text {
    color: #ff0000;
    align-items: center;
    padding-left: 600px;
  }
  
  .header-sobre .nav-list li a {
    color: #ffffff;
  }
  
  .header-sobre .nav-list li a:hover {
    color: #ffffff;
    transform: scale(1.2);
  }

  .header-sobre .animated-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .header-sobre .logo-img {
    width: 200px; /* Ajuste o tamanho da logo */
    height: auto;
    animation: float 3s ease-in-out infinite; /* Mantém a animação de flutuar */
  }
  /* Ajuste para o link único no header da página Sobre */
.nav-list.single-link {
    justify-content: center; /* Centraliza o link no header */
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column; /* Torna o menu mais responsivo */
  }
  
  .nav-list.single-link li {
    list-style: none;
    text-align: center; /* Garante que o link fique centralizado */
  }
  
  .nav-list.single-link li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Fjalla One', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .nav-list.single-link li a:hover {
    color: #ffcc00;
    transform: scale(1.1);
  }
  
  /* Responsividade para mobile */
  @media (max-width: 768px) {
    .nav-list.single-link {
      justify-content: center; /* Certifica-se de centralizar no mobile */
    }
  
    .nav-list.single-link li a {
      font-size: 1.1rem; /* Ajusta o tamanho da fonte para mobile */
    }
  }

  .header.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
  
  .header.visible {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  
  /* Força o header a ser sempre visível na página 'Sobre' */
  .header-sobre {
    transform: translateY(0) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
  .header-sobre .nav-list.single-link {
    justify-content: center; /* Certifica-se de centralizar o link */
    display: flex;
    padding: 0;
    margin: 0;
}
@media (max-width: 768px) {
    .header-sobre .nav-list.single-link li a {
        font-size: 1.1rem;
    }
}/* Força a visibilidade do link único no Sobre */
.header-sobre .nav-list.single-link {
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}.header-sobre .nav-list.single-link li a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Fjalla One', sans-serif;
    transition: transform 0.3s ease, color 0.3s ease;
}

/* Ajustes para mobile no Sobre */
@media (max-width: 768px) {
    .header-sobre .nav-list.single-link li a {
        font-size: 1.1rem; /* Ajusta o tamanho da fonte para mobile */
    }
}

/* Força o header sempre visível no Sobre */
.header-sobre {
    transform: translateY(0) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* Esconde o toggle no Sobre (já que ele não é necessário) */
.header-sobre .menu-button {
    display: none; /* Oculta o botão toggle no Sobre */
}